
    <h1>Chan Yu-Xiang</h1>
    <div class="header-element">
        <img src="images/mail-icon.png" class="icon"> Email : Gnomemage90@gmail.com
    </div>
    <div class="header-element">
      <img src="images/github-icon.png" class="icon"> Github : <a href="https://github.com/yxchanSNsoft" style="color:white">https://github.com/yxchanSNsoft</a>
    </div>
    <div class="header-element" >
      <img src="images/location-icon.png" class="icon"> Location : Malaysia
    </div>
    <div class="header-element">
      <img src="images/linkedin-icon.webp" class="icon"> Linkedin : <a href="https://www.linkedin.com/in/yuxiang-c-054aba92/" style="color:white">https://www.linkedin.com/in/yuxiang-c-054aba92/</a>
    </div>
