body {
    min-height : 1100px;  
    background-color : black;
    color : #D133FF;
    font-family: Arial, Helvetica, sans-serif;
  }
  .side-bar {
    position : fixed;  
    border : none;
  }
  .sidebar-element {
      width : 120px;
      border : none;
      background-color : #EACC50;
      cursor : pointer;
      padding : 15px;
      border-radius : 4px;
      margin : 2px;
  }
  .sidebar-element:hover {
      border : none;
      background-color : #6CEA50;
      width : 150px;
  }
.header {
    height : 150px;
    width : 100%;
    background: linear-gradient(-71deg , #E7C4F1 450px, #D133FF 0px) purple !important;
    color : white;
    text-align: center;
    padding : 15px;
}
.footer {
    height : 150px;
    width : 100%;
    background-color : purple;
    padding : 25px;
    color : white;
}
a {
  text-decoration : none;
}
a:visited {
  text-decoration : none;
  color : #D133FF;
}
a:active {
  text-decoration : none;
  color : #D133FF;
}
.icon {
    width : 15px;
    height : 15px;
    margin : 0px 15px;
    float : left;
}
.header-element {
    width : 500px;
    margin : auto;
}   
