
    <h1>Javascript Is Love</h1>
    <div>
        <img src="images/mail-icon.png" class="icon"> Email : Gnomemage90@gmail.com
    </div>
    <div>
      <img src="images/github-icon.png" class="icon"> Github : <a href="https://github.com/yxchanSNsoft" style="color:white">https://github.com/yxchanSNsoft</a>
    </div>
    <div>
      <img src="images/location-icon.png" class="icon"> Location : Malaysia
    </div>
    <div>
      <img src="images/linkedin-icon.webp" class="icon"> Linkedin : <a href="https://www.linkedin.com/in/yuxiang-c-054aba92/" style="color:white">https://www.linkedin.com/in/yuxiang-c-054aba92/</a>
    </div>
